form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo2{
    font-size: 25px;
    margin: 30px;
    display: flex;
	align-items: center;
	justify-content: center;
}

#desc, #precio, #imagen{
    margin: auto;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200%;
    max-width: 300px;
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 30px;

}

#nombre, #correo, #usuario, #rol{
  margin: auto;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200%;
  max-width: 300px;
  display: flex;
align-items: center;
justify-content: center;
  padding: 30px;

}

#boton{
    margin: 50px;
    padding: 0.5em 1em;
    background-color: #db3434;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    align-items: center;
	justify-content: center;
}


#titulo{
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 30px;
}

body {
    background: linear-gradient(to bottom, #ffffff, #ffcbbb);
    animation: background-gradient 10s ease infinite;
  }
  
  @keyframes background-gradient {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 100%;
    }
    50% {
      background-position: 0% 0%;
    }100% {
        background-position: 100% 100%;
      }
  }
  
 