.navbar{
    color: white;
}
.navbar a{
    color: white;
}


.navbar-toggler{
    color: white;
}

.navbar-toggler span{
    color: white;
}

#navbarNavAltMarkup a{
    text-decoration: none;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    align-items: center;
	justify-content: center;
}

#logo{
    width: 90px;
}

